#chrome-container {
    background-image: url('../assets/room-with-laptops.jpg');
    /* background-image: url('../assets/kids-room.jpg'); */
    /* background-image: url('../assets/busy-room.jpg'); */
    min-height: 800px;
    background-size:cover;
}

#room-list > .container {
    background-color: #EBECF0;
    margin: 12px;
    border-radius: 5px;
    padding: 30px;
}

.font-size-14 {
    font-size: 14px;
}

#topbar {
    color: white;
    font-size: 14px;
}

.card-title {
    font-size: 15px;
}

.font-size-20 {
    font-size: 20px;
}

.btn-light{
    font-size: 14px;
}


#pop-up-main-div{
    position: absolute;
    width: 800px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -250px;
    box-shadow: 10px 10px 5px rgb(52, 50, 50);
    display: none;
}



#close-pop-up-div{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    right: 5px;
    top: 5px;
    cursor: pointer;

}

#close-pop-up-div p{
    margin-top: 1px;
    font-family: sans-serif;
    font-weight: bold;
}

#pop-up-header{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

#pop-up-body{
    font-family: sans-serif;
    text-align: center;
    margin-top: 80px;
    
}